<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
          <p>We are part of the <a href="https://www.dal.ca/faculty/computerscience.html">Faculty of Computer Science</a> and <a href="https://medicine.dal.ca/departments/department-sites/community-health.html">Department of Community Health & Epidemiology</a> in the <a href="https://medicine.dal.ca">Faculty of Medicine</a> at <a href="https://dal.ca">Dalhousie University</a>.</p>
		   <p>  </p><p>
		</div>
		<div class="col-sm-4">
		  Contact:<br />
		  Mona Campbell Building, Dalhousie University<br />
		  1459 Lemarchant Street, Halifax<br />
		  NS B3H 3P8, Canada<br />
            (<a href="https://www.google.com/maps/dir//Mona+Campbell+Building,+1459+Lemarchant+St,+Halifax,+NS+B3H+3P8/@44.6389783,-63.5906257,15z/data=!4m16!1m6!3m5!1s0x0:0x68e825614aea65ff!2sMona+Campbell+Building!8m2!3d44.6389114!4d-63.5908715!4m8!1m0!1m5!1m1!1s0x4b5a2225a0714507:0x68e825614aea65ff!2m2!1d-63.5908715!2d44.6389114!3e2">Maps</a>)
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
